ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  line-height: 1.5;
  font-family: arial, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, PMingLiU, \65B0\7D30\660E\9AD4;
  min-height: 100%;
  background-color: #f8f8f8; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100%; }
  .wrapper:after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (max-width: 768px) {
    .wrapper {
      overflow-x: hidden;
      overflow-y: auto; } }

.color-s {
  color: #00d2cd; }

.color-m {
  color: #5a11bd; }

.color-g {
  color: #f7b500; }