<script type="text/javascript">
$.ajaxSetup({
  headers: {
    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
  }
});
var submitting = false;


$('.mainbar-aside-notify').on('click', function(e) {

  if (!$(this).hasClass('is--mclick')) {
    if (submitting) {
      return false;
    }
    submitting = true;

    $.ajax({
      url: "https://qshare.rapaq.com/notice/show",
      dataType: 'json',
      type: "GET",
      error: function(xhr, ajaxOptions, throwError) {
        alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
      },
      success: function(result) {
        if (result.result) {
          $('.nav-content-ntoggle div').remove();
          $('.nav-content-ntoggle').append(result.html);
        }
        submitting = false;
      }
    });
  }

});

$("body").on('click', '.ntoggle-haveNotify-list > .list-row, .n-notify-list > .list-row', function() {

  if (submitting) {
    return false;
  }
  submitting = true;

  var data = {};;
  data.notice_id = $(this).attr('notice_id');
  url = $(this).attr('notice_url');
  notice_type = $(this).attr('notice_type');

  $('.mainbar-aside-notify').trigger('click');

  if (notice_type == 1)
    location.href = url;
  else {
    $.ajax({
      url: "https://qshare.rapaq.com/notice/read",
      data: data,
      dataType: 'json',
      type: "GET",
      error: function(xhr, ajaxOptions, throwError) {
        alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
        window.location.reload();
      },
      success: function(result) {
        if (result.result) {
          location.href = url;
          submitting = false;
          console.log('e');
        } else
          window.location.reload();
      }
    });
  }
});
var a = false,
  b = false,
  c = false,
  d = false,
  f = false,
  ajax_data = {};

$(function() {
  //////////////////////////////////////////
  // share popup
  //////////////////////////////////////////
  var docHeight = $(document).height();
  var winHeight = $(window).height();
  var $nav = $('.nav'),
    navH = $nav.outerHeight(true);

  var $openPopup = $('[data-id="js-sharePopup"]'),
    $targetPopup = $('[data-popup="share"]'),
    $popupScrollContent = $('.popup_content--share'),
    $menuContent = $('.nav-content-toggle'),
    $shareMask = $('[data-id="shareMask"]'),
    $closeElement = $('[data-id="js-closePopup"]');

  function show_sharePopup() {
    $targetPopup.stop(true, false).slideDown(200);
    $('.mask').hide();
    $shareMask.show();
    didScroll = false;
    clearInterval(didScrollID);
  }

  function hide_sharePopup() {
    $targetPopup.stop(true, false).slideUp(200);
    $shareMask.hide();
    $('.creat-click').removeClass('is--mclick');
    $targetPopup.find('textarea').val('');
    $targetPopup.find('#open').prop('checked', true);
    $('[data-id="js-publishto"]').text('公開');
    $('[data-id="deletePreview"]').trigger('click');
    resizeAfterShowPreview();
    didScroll = true;
    didScrollID = setTimer();
  }

  function resizeSharePopup() {
    var newWinHeight = $(window).height();
    var popTitileHeight = $targetPopup.find('.popup_title').outerHeight(true),
      popPublishHeight = $targetPopup.find('.popup_create--publish').outerHeight(true),
      popActionHeight = $targetPopup.find('.popup_action').outerHeight(true),
      popContentHeight = $targetPopup.find('.popup_content').outerHeight(true);
    var popupContentMaxHeight = newWinHeight - popTitileHeight - popPublishHeight - popActionHeight;
    var popupTotalHeight = popTitileHeight + popActionHeight + popContentHeight;
    if (Modernizr.mq('(max-width: 414px)')) {
      $popupScrollContent.css({
        'height': popupContentMaxHeight
      });
    } else {
      $targetPopup.css({
        'top': (newWinHeight - popupTotalHeight) / 2
      })
    }

  }

  function resizeAfterShowPreview() {
    var newWinHeight = $(window).height();
    var popTitileHeight = $targetPopup.find('.popup_title').outerHeight(true),
      popPublishHeight = $targetPopup.find('.popup_create--publish').outerHeight(true),
      popActionHeight = $targetPopup.find('.popup_action').outerHeight(true);

    if (window.innerWidth <= 414) {
      $targetPopup.css({
        'top': 0
      });
    } else {
      $popupScrollContent.css({
        'max-height': newWinHeight - popTitileHeight - popPublishHeight - popActionHeight
      });
      var previewPopupHeight = $targetPopup.height();
      $targetPopup.css({
        'top': (newWinHeight - previewPopupHeight) / 2
      });
    }
  }

  $openPopup.on('click', function(e) {
    e.preventDefault();
    $('.sharestyle, .mask-z').fadeOut(100);
    $('.icons__share').removeClass('is--active');
    $('.nav-content-ctoggle').hide();
    $('[data-id="allCate"]').attr('share_type', 1);
    $('.previewLink_loading').addClass('is--hide');
    $('.previewLink_error').addClass('is--hide');
    $('[data-id="popup_title"]').html('創建分享');
    $('[data-id="js-editShare"]').html('發佈');
    show_sharePopup();
    resizeSharePopup();
    f = true;
  });

  // 內頁按分享
  $('.share-icons__qs').on('click', function() {
    swal({
      title: "分享",
      text: "你必須註冊或登入才能分享",
      showCancelButton: true,
      cancelButtonText: "取消",
      cancelButtonClass: 'sa-rapaq-cancel',
      confirmButtonText: "註冊/登入",
      confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
      customClass: 'sa-rapaq double-btn'
    }).then(
      function(result) {
        window.location.href = 'https://qshare.rapaq.com/login';
      }
    ).catch(swal.noop);

    return false;

    $('[data-id="previewLink"]').val(current_url).attr('disabled', 'disabled').trigger('input');
    ajax_data.article_type = $('.share-icons').attr('type');
    ajax_data.article_id = $('.share-icons').attr('primary_id');
    $openPopup.trigger('click');
    $('[data-id="allCate"]').attr('share_type', 2);
  });

  //  會員個人頁 尚無分享 創建分享
  $('[data-id="member_page_create_share"]').on('click', function() {
    swal({
      title: "分享",
      text: "你必須註冊或登入才能分享",
      showCancelButton: true,
      cancelButtonText: "取消",
      cancelButtonClass: 'sa-rapaq-cancel',
      confirmButtonText: "註冊/登入",
      confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
      customClass: 'sa-rapaq double-btn'
    }).then(
      function(result) {
        window.location.href = 'https://qshare.rapaq.com/login';
      }
    );

    return false;

    $openPopup.trigger('click');
  });

  //  編輯
  $('[data-id="share_edit"]').on('click', function() {
    swal({
      title: "編輯",
      text: "你必須註冊或登入才能編輯",
      showCancelButton: true,
      cancelButtonText: "取消",
      cancelButtonClass: 'sa-rapaq-cancel',
      confirmButtonText: "註冊/登入",
      confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
      customClass: 'sa-rapaq double-btn'
    }).then(
      function(result) {
        window.location.href = 'https://qshare.rapaq.com/login';
      }
    ).catch(swal.noop);

    return false;

    $(this).parents('.morestyle').siblings('.list-inner-author').children('.list-inner-author__edit').trigger('click');

    current_url = $(this).parents('.morestyle').siblings('.list-inner-share').find('.list-inner-share__title a').attr('href');
    content = $(this).parents('.morestyle').siblings('.list-inner-author').children('.list-inner-author__say').html();
    share_id = $(this).attr('share_id');
    status = $(this).attr('status');
    status_text = (status == 1) ? "公開" : "自己";

    $('[data-id="previewLink"]').val(current_url);
    $('[data-id="previewLink"]').trigger('input');
    if (content)
      $('[data-id="description"]').val(content.replace("<br>", ''));
    $('[data-id="js-submitShare"]').attr('data-id', 'js-editShare');
    $('[data-id="js-editShare"]').attr('data-share_id', share_id);
    $('[data-id="js-publishto"]').html(status_text);
    $('input:radio[name=publishto][value=' + status + ']').attr('checked', true);
    $openPopup.trigger('click');
    $('[data-id="popup_title"]').html('編輯分享');
    $('[data-id="js-editShare"]').html('儲存');
  });

  $closeElement.on('click', function() {
    if ($('[data-id="description"]').val() != '' || $('[data-id="previewLink"]').val() != '') {
      //leave page sweetalert
      //如未發佈就按下Ｘ關閉分享popup，請執行以下動作
      swal({
        title: "確定要離開此頁面嗎？",
        text: "你將失去目前尚未發佈的更動",
        showCancelButton: true,
        cancelButtonText: "取消",
        cancelButtonClass: 'sa-rapaq-cancel',
        confirmButtonText: "離開",
        confirmButtonClass: 'sa-rapaq-confirm confirm--green',
        customClass: 'sa-rapaq double-btn'
      }).then(function(result) {
        hide_sharePopup();
      }).catch(swal.noop);
    } else {
      hide_sharePopup();
    }
    f = false;
  });

  $(window).on('scroll', function() {
    var winTop = $(this).scrollTop();
    if ($('.popup').is(":visible")) {
      resizeSharePopup();
      resizeAfterShowPreview();
    }
  }).trigger('scroll');

  //reset popup position and max-height after resize window
  $(window).on('resize', function() {
    if ($('.popup').is(":visible")) {
      resizeSharePopup();
      resizeAfterShowPreview();
    }
  }).trigger('resize');

  //make works/blog/activity name textarea auto height
  var span = $('<span>').css({ 'display': 'none', 'word-break': 'break-all', 'font-size': '18px', 'min-height': '100px' }).appendTo('body').css('visibility', 'hidden');

  function initSpan(textarea) {
    span.text(textarea.text()).width(textarea.width()).css('font', textarea.css('font'));
  }

  $('[data-id="description"]').on({
    input: function() {
      var text = $(this).val();
      span.text(text);
      $(this).height(text ? span.height() : '29px');
    },
    focus: function() {
      initSpan($(this));
    },
    keypress: function(e) {
      if (e.which == 13) e.preventDefault();
    }
  });

  var links = $('<span>').css({ 'display': 'none', 'word-break': 'break-all', 'font-size': '18px', 'min-height': '50px' }).appendTo('body').css('visibility', 'hidden');

  function initLink(textarea) {
    links.text(textarea.text()).width(textarea.width()).css('font', textarea.css('font'));
  }

  //create share preview
  $('[data-id="previewLink"]').on({
    input: function() {
      var text = $(this).val();
      if (text == '') {
        $('[data-id="js-submitShare"]').addClass('disabled');
      } else {
        resizeAfterShowPreview();
        $('[data-id="js-submitShare"]').removeClass('disabled');
      }

      links.text(text);
      $(this).height(text ? links.height() : '29px').css({ 'overflow-y': 'hidden' });
      $('.previewLink_loading').removeClass('is--hide');
      $('.previewLink_error').addClass('is--hide');
      var data = {};
      data.url = text;
      if (submitting) {
        return false;
      }
      submitting = true;

      $.ajax({
        url: "/share/url",
        dataType: 'json',
        type: 'post',
        data: data,
        error: function(xhr, ajaxOptions, throwError) {
          alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
          window.location.reload();
        },
        success: function(result) {
          if (result.result) {

            $('.previewLink_loading,[data-id="previewLink"]').addClass('is--hide');
            $('.previewLink_result').append(result.html).removeClass('is--hide');

            if ($('[data-id="popup_title"]').html() == '編輯分享')
              $('[data-id="deletePreview"]').hide();
            else if ($('[data-id="popup_title"]').html() == '創建分享')
              $('[data-id="deletePreview"]').show();

            console.log('done');
            resizeAfterShowPreview();
          } else {
            $('.previewLink_error').removeClass('is--hide');
            $('.previewLink_loading').addClass('is--hide');
          }
          submitting = false;
        }
      })
    },
    focus: function() {
      initLink($(this));
      var text = $(this).val();
      if (text == '') {
        $('[data-id="js-submitShare"]').addClass('disabled');
      } else {
        $('[data-id="js-submitShare"]').removeClass('disabled');
      }
    },
    keypress: function(e) {
      if (e.which == 13) e.preventDefault();
    },
    blur: function() {
      var text = $(this).val();
      if (text == '') {
        $('[data-id="js-submitShare"]').addClass('disabled');
      } else {
        $('[data-id="js-submitShare"]').removeClass('disabled');
      }
    }
  });

  //delete share preview
  $("body").on('click', '[data-id="deletePreview"]', function() {
    $('[data-id="previewLink"]').removeClass('is--hide').val('');
    $('[data-id="js-submitShare"]').addClass('disabled');
    $('.previewLink_result').empty();
    $('.previewLink_result').addClass('is--hide');
    resizeAfterShowPreview();
  });

  //choose publish options
  $('[data-id="js-publishto"]').on('click', function() {
    $(this).toggleClass('on');
    $('.publish_option').fadeToggle(300);
  });

  //replace publish to whom
  $('[data-id="choosePublish"]').on('change', function(e) {
    var type = $(e.currentTarget).data('value');
    $('[data-id="js-publishto"]').text(type);

    $('[data-id="js-publishto"]').trigger('click');
  });

  //publish sweetalert
  $("body").on('click', '[data-id="js-submitShare"]:not(disabled)', function() {
    if (submitting) {
      return false;
    }
    submitting = true;

    ajax_data.url = $('[data-id="previewLink"]').val();
    ajax_data.type = $('[data-id="allCate"]').attr('share_type');
    ajax_data.content = $('[data-id="description"]').val();
    ajax_data.status = $("input[type=radio][name='publishto']:checked").val();

    swal({
      html: "\
            <div class='lds-css ng-scope'><div class='lds-spinner'><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>\
            <span class='lds-txt'>正在發佈...</span>",
      showCancelButton: false,
      showConfirmButton: false,
      customClass: 'sa-rapaq'
    });

    $.ajax({
      url: "/share/create",
      dataType: 'json',
      type: 'post',
      data: ajax_data,
      error: function(xhr, ajaxOptions, throwError) {
        alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
        window.location.reload();
      },
      success: function(result) {
        if (result['result']) {
          swal.close();
          hide_sharePopup();
          location.href = "https://qshare.rapaq.com/member/show//4";
        } else {
          $('.sweet-alert').removeClass('sweetalert--loading');
          swal({
            title: "分享失敗",
            text: "請稍後再試一次！",
            confirmButtonText: "確定",
            confirmButtonClass: 'sa-rapaq-confirm confirm--red',
            customClass: 'sa-rapaq single-btn'
          }).then(
            function(result) {
              window.location.reload();
            }
          );
        }
        submitting = false;
      }
    })
  });

  $("body").on('click', '[data-id="js-editShare"]:not(disabled)', function() {
    if (submitting) {
      return false;
    }
    submitting = true;

    swal({
      html: "\
            <div class='lds-css ng-scope'><div class='lds-spinner'><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>\
            <span class='lds-txt'>正在修改...</span>",
      showCancelButton: false,
      showConfirmButton: false,
      customClass: 'sa-rapaq'
    });

    ajax_data.url = $('[data-id="previewLink"]').val();
    ajax_data.type = $('[data-id="allCate"]').attr('share_type');
    ajax_data.content = $('[data-id="description"]').val();
    ajax_data.status = $("input[type=radio][name='publishto']:checked").val();
    ajax_data.share_id = $(this).attr('data-share_id');

    $.ajax({
      url: "/share/edit",
      dataType: 'json',
      type: 'post',
      data: ajax_data,
      error: function(xhr, ajaxOptions, throwError) {
        alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
        window.location.reload();
      },
      success: function(result) {
        if (result['result']) {
          window.location.reload();
        } else {
          swal.close();
          swal({
            title: "分享編輯失敗",
            text: "請稍後再試一次！",
            confirmButtonText: "確定",
            confirmButtonClass: 'sa-rapaq-confirm confirm--red',
            customClass: 'sa-rapaq single-btn'
          }).then(
            function(result) {
              window.location.reload();
            }
          );
        }
        submitting = false;
      }
    })
  });
});

$(window).load(function() {
  $('.productBox__image').each(function() {
    var imgHeight = $(this).children('img').height();
    $(this).children('img').css({
      'margin-top': -(imgHeight / 2)
    });
  });
});

$(function() {
  $('.footer-trigger').click(function() {
    $(".footer").toggleClass("active--1");
  });

  var KVswiper = new Swiper('[data-swiper="KV"]', {
    loop: true,
    pagination: '[data-swiper-pagination="kv"]',
    paginationClickable: true,
    autoHeight: true,
    autoplay: 3000
  });


  var productSwiper = new Swiper('[data-swiper="product"]', {
    loop: true,
    prevButton: '[data-swiper-navigation="prev"]',
    nextButton: '[data-swiper-navigation="next"]',
    slidesPerView: 'auto',
    centeredSlides: true,
    spaceBetween: 20,
    runCallbacksOnInit: true,
    autoplay: 3000,
    onInit: function(swiper) {
      var $goodContainer = $(swiper.slides),
        goodContainerW = $goodContainer.outerWidth();
      $goodElement = $goodContainer.find('.productBox__image').css({
        'height': (goodContainerW * 9) / 16
      })
      $goodContainer.each(function() {
        var imgHeight = $(this).find('.productBox__image').children('img').height();
        $(this).find('.productBox__image').children('img').css({
          'margin-top': -(imgHeight / 2)
        });
      });
    },
    onSlideChangeStart(swiper) {
      var $goodContainer = $(swiper.slides),
        goodContainerW = $goodContainer.outerWidth();
      $goodElement = $goodContainer.find('.productBox__image').css({
        'height': (goodContainerW * 9) / 16
      })
      $goodContainer.each(function() {
        var imgHeight = $(this).find('.productBox__image').children('img').height();
        $(this).find('.productBox__image').children('img').css({
          'margin-top': -(imgHeight / 2)
        });
      });
    },
    onBeforeResize: function(swiper) {
      var $goodContainer = $(swiper.slides),
        goodContainerW = $goodContainer.outerWidth();
      $goodElement = $goodContainer.find('.productBox__image').css({
        'height': (goodContainerW * 9) / 16
      })
      $goodContainer.each(function() {
        var imgHeight = $(this).find('.productBox__image').children('img').height();
        $(this).find('.productBox__image').children('img').css({
          'margin-top': -(imgHeight / 2)
        });
      });
    }

  });

  var productSwiper = new Swiper('[data-swiper="leaflet"]', {
    loop: true,
    prevButton: '[data-swiper-navigation="prev"]',
    nextButton: '[data-swiper-navigation="next"]',
    slidesPerView: 'auto',
    centeredSlides: true,
    autoplay: 3000
  });

  // designer block do swipe on mobile
  var swiperContainer = $('[data-swiper="designer"]');
  var designerSwiper;
  if (Modernizr.mq('(max-width: 414px)')) {
    designerSwiper = swiperContainer.swiper({
      loop: true,
      slideClass: 'li',
      pagination: '[data-swiper-pagination="designer"]',
      paginationClickable: true,
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 20
    });
  }

  $(window).on('resize', function() {
    if (Modernizr.mq('(max-width: 414px)') && !designerSwiper) {
      designerSwiper = swiperContainer.swiper({
        loop: true,
        slideClass: 'li',
        pagination: '[data-swiper-pagination="designer"]',
        paginationClickable: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 20
      });
    } else if (Modernizr.mq('(min-width: 415px)')) {
      if (designerSwiper) {
        designerSwiper.destroy();
        designerSwiper = undefined;
      }
      var $openMultipleAuthor = $('.openMultipleAuthor'),
        KVrightH = $openMultipleAuthor.closest('.idx__kv--info').outerHeight(true),
        multipleTitleH = $openMultipleAuthor.find('.multipleAuthor__title').outerHeight(true);
      $('[data-multiple-author="close"]').trigger('click');
    }
  });


  //slider multiple author
  $('body').on('click', '[data-id="js-multipleAuthor"]', function() {
    $('.idx__kv').find('.pagination').css({ 'z-index': -1 });
    if (Modernizr.mq('(max-width: 768px)')) {
      var cloneContent = $(this).siblings('[data-id="multipleAuthor"]').clone();
      cloneContent.appendTo('[data-id="cloneAuthor"]');
      $('[data-id="authorMask"]').show();
      $('[data-id="cloneAuthor"]').show();
      var winWidth = $(window).outerWidth(true),
        multipleAuthorWidht = winWidth - 40,
        winHeight = $(window).outerHeight(true),
        navHeight = $('nav').outerHeight(true),
        multipleTitleHieght = $('[data-id="cloneAuthor"]').find('.multipleAuthor__title').outerHeight(true),
        openMultipleAuthorHeight = $('[data-id="cloneAuthor"]').find('[data-id="multipleAuthor"]').outerHeight(true);
      $('[data-id="cloneAuthor"]').find('[data-multiple-author="list"]').css({ 'max-height': winHeight - multipleTitleHieght - (navHeight * 2) });
      $('[data-id="cloneAuthor"]').find('[data-id="multipleAuthor"]').css({
        'width': multipleAuthorWidht,
        'top': ((winHeight - openMultipleAuthorHeight) / 2)
      });
    } else {
      $(this).toggleClass('on');
      $('[data-id="multipleAuthor"]').slideToggle(300);
      var KVrightHeight = $(this).closest('.idx__kv--info').outerHeight(true),
        multipleTitleHieght = $(this).siblings('[data-id="multipleAuthor"]').find('.multipleAuthor__title').outerHeight(true);
      $(this).siblings('[data-id="multipleAuthor"]').find('[data-multiple-author="list"]').css({ 'max-height': KVrightHeight - multipleTitleHieght });
    }

  });

  $('body').on('click', '[data-multiple-author="close"]', function() {
    $('[data-id="js-multipleAuthor"]').removeClass('on');
    $('[data-id="multipleAuthor"]').fadeOut(200);
    $('[data-id="authorMask"]').hide();
    $('[data-id="cloneAuthor"]').hide().empty();
    $('.idx__kv').find('.pagination').css({ 'z-index': 5 });
  });

  //tabs
  $('[data-js-tabs="true"]').tabs();

  $(window).on('scroll', function() {
    var worksOffsetTop = $('[data-id="idx_works"]').offset().top;
    var worksHeight = $('[data-id="idx_works"]').outerHeight(true);
    var worksOffsetBottom = worksOffsetTop + worksHeight;
    var winTop = $(this).scrollTop();
    var navH = $('nav').outerHeight(true);
    if (winTop >= worksOffsetTop && winTop <= worksOffsetBottom) {
      $('[data-id="idx_works"]').addClass('docking');
      if ($('nav').hasClass('is-hide')) {
        $('[data-id="idx_works"]').find('.idxSection__title').css({ 'top': 0 });
      } else {
        $('[data-id="idx_works"]').find('.idxSection__title').css({ 'top': navH });
      }
    } else if (winTop > worksOffsetBottom || winTop < worksOffsetTop) {
      $('[data-id="idx_works"]').removeClass('docking');
    }
  }).trigger('scroll');

  //format proof number

  function kFormatter(num) {
    if (num > 999) {
      return (num / 1000).toFixed(1) + 'k'
    } else {
      return num
    }
  }
  var $proofTxt = $('[data-id="js-num"]'),
    proofNum = $proofTxt.data('num');
  $proofTxt.text(kFormatter(proofNum));
});



$("body").on('click', '.create_follow', function() {

  swal({
    title: "追蹤",
    text: "你必須註冊或登入才能追蹤",
    showCancelButton: true,
    confirmButtonText: "註冊/登入",
    cancelButtonText: "取消",
    confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
    customClass: 'sa-rapaq double-btn',
    cancelButtonClass: 'sa-rapaq-cancel',
  }).then(
    function(result) {
      window.location.href = 'https://qshare.rapaq.com/login';
    }
  ).catch(swal.noop);

  return false;

  if (submitting) {
    return false;
  }
  submitting = true;

  var data = {};
  obj = $(this);
  data.followed_userid = obj.attr('followed_userid');
  data.user_id = "";

  $.ajax({
    url: "https://qshare.rapaq.com/follow/create",
    dataType: 'json',
    type: 'post',
    data: data,
    error: function(xhr, ajaxOptions, throwError) {
      alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
      window.location.reload();
    },
    success: function(result) {
      if (result.result === true) {
        swal({
          title: "追蹤成功",
          type: 'success',
          showCancelButton: false,
          showConfirmButton: false,
          customClass: 'sa-rapaq',
          timer: 1000,
        }).catch(swal.noop);
        $('.sweet-alert').addClass('dobule-btn');
        $('.sa-button-container').show();
        obj.addClass('delete_follow').removeClass('create_follow');
        obj.toggleClass('is--follow');
        obj.html('已追蹤');

        var update_obj = obj.parent('.action').siblings('.follower').children('[data-id="cnt"]');
        var num = +update_obj.html() + 1;
        update_obj.html(num);

        submitting = false;
      } else {
        swal({
          title: "追蹤失敗",
          text: "請稍後再試一次！",
          confirmButtonText: "確定",
          confirmButtonClass: 'sa-rapaq-confirm confirm--red',
          customClass: 'sa-rapaq single-btn'
        }).then(
          function(result) {
            window.location.reload();
          }
        );
      }
    }
  });
});


$("body").on('click', '.delete_follow', function() {

  swal({
    title: "取消追蹤",
    text: "你必須註冊或登入才能取消追蹤",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#00d2cd",
    confirmButtonText: "註冊/登入",
    cancelButtonText: "取消",
    customClass: 'dobule-btn',
  }).then(
    function(result) {
      window.location.href = 'https://qshare.rapaq.com/login';
    }
  ).catch(swal.noop);

  return false;

  obj = $(this);

  swal({
    title: "取消追蹤",
    text: "你確定要取消追蹤嗎？",
    showCancelButton: true,
    cancelButtonText: "取消",
    cancelButtonClass: 'sa-rapaq-cancel',
    confirmButtonText: "確定",
    confirmButtonClass: 'sa-rapaq-confirm confirm--green',
    customClass: 'sa-rapaq double-btn'
  }).then(function(result) {
    if (submitting) {
      return false;
    }
    submitting = true;

    var data = {};

    data.followed_userid = obj.attr('followed_userid');
    data.user_id = "";

    $.ajax({
      url: "https://qshare.rapaq.com/follow/delete",
      dataType: 'json',
      type: 'post',
      data: data,
      error: function(xhr, ajaxOptions, throwError) {
        alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
        window.location.reload();
      },
      success: function(result) {
        $('.sweet-alert').removeClass('dobule-btn');
        $('.sa-button-container').hide();
        if (result.result === true) {
          swal({
            title: "已取消追蹤",
            showCancelButton: false,
            showConfirmButton: false,
            customClass: 'sa-rapaq',
            padding: 40,
            customClass: 'sa-rapaq no-btn',
            timer: 1000,
          }).catch(swal.noop);
          obj.addClass('create_follow').removeClass('delete_follow');
          obj.toggleClass('is--follow');
          obj.html('追蹤');

          var update_obj = obj.parent('.action').siblings('.follower').children('[data-id="cnt"]');
          var num = +update_obj.html() - 1;
          update_obj.html(num);

          submitting = false;
        } else {
          swal({
            title: "取消追蹤失敗",
            text: "請稍後再試一次！",
            confirmButtonText: "確定",
            confirmButtonClass: 'sa-rapaq-confirm confirm--red',
            customClass: 'sa-rapaq single-btn'
          }).then(
            function(result) {
              window.location.reload();
            }
          );
        }
      }
    });
  }).catch(swal.noop);

});


$("body").on('click', '.create_collect', function(e) {
  e.preventDefault();
  swal({
    title: "收藏",
    text: "你必須註冊或登入才能收藏",
    showCancelButton: true,
    cancelButtonText: "取消",
    cancelButtonClass: 'sa-rapaq-cancel',
    confirmButtonText: "註冊/登入",
    confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
    customClass: 'sa-rapaq double-btn'
  }).then(
    function(result) {
      window.location.href = 'https://qshare.rapaq.com/login';
    }
  ).catch(swal.noop);

  return false;

  if (submitting) {
    return false;
  }
  submitting = true;

  var data = {};
  obj = $(this);
  data.primary_id = obj.attr('primary_id');
  data.type = obj.attr('type');
  data.user_id = "";

  $.ajax({
    url: "https://qshare.rapaq.com/collect/create",
    dataType: 'json',
    type: 'post',
    data: data,
    error: function(xhr, ajaxOptions, throwError) {
      alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
      window.location.reload();
    },
    success: function(result) {
      if (result.result === true) {
        swal({
          title: "收藏成功",
          type: 'success',
          showCancelButton: false,
          showConfirmButton: false,
          customClass: 'sa-rapaq',
          timer: 1000,
        }).catch(swal.noop);

        obj.addClass('delete_collect').removeClass('create_collect');
        obj.toggleClass('is--active');

        if (data.type == 2) {
          var update_obj = obj.parents('.blogBox__topic').siblings('.blogBox__info').children('.freq').children('[data-id="cnt"]');
          var num = +update_obj.html() + 1;
          update_obj.html(num);
        } else if (data.type == 3) {
          var update_obj = obj.parent().siblings('.activityBox__bottom').children('.follow').children('.follow__amount').children('[data-id="cnt"]');
          var num = +update_obj.html() + 1;
          update_obj.html(num);
          var first_head = obj.parent().siblings('.activityBox__bottom').children('.follow').children('.follow__image');
          new_collector = '<li><img src="" alt=""></li>';
          first_head.prepend(new_collector);
        }
        submitting = false;
      } else {
        swal({
          title: "收藏失敗",
          text: "請稍候再試一次！",
          confirmButtonColor: "#ff3244",
          confirmButtonText: "確定",
          customClass: 'single-btn'
        }).then(
          function(result) {
            window.location.reload();
          }
        );
      }
    }
  });
});


$("body").on('click', '.delete_collect', function(e) {
  e.preventDefault();
  swal({
    title: "取消收藏",
    text: "你必須註冊或登入才能取消收藏",
    showCancelButton: true,
    cancelButtonText: "取消",
    cancelButtonClass: 'sa-rapaq-cancel',
    confirmButtonText: "註冊/登入",
    confirmButtonClass: 'sa-rapaq-confirm confirm--mc',
    customClass: 'sa-rapaq double-btn'
  }).then(
    function(result) {
      window.location.href = 'https://qshare.rapaq.com/login';
    }
  );

  return false;

  if (submitting) {
    return false;
  }
  submitting = true;

  var data = {};

  var data = {};
  obj = $(this);
  data.primary_id = obj.attr('primary_id');
  data.type = obj.attr('type');
  data.user_id = "";

  $.ajax({
    url: "https://qshare.rapaq.com/collect/delete",
    dataType: 'json',
    type: 'post',
    data: data,
    error: function(xhr, ajaxOptions, throwError) {
      alert('例外錯誤！\n(' + xhr.status + ") " + throwError);
      window.location.reload();
    },
    success: function(result) {
      if (result.result === true) {
        swal({
          title: "已取消收藏",
          showCancelButton: false,
          showConfirmButton: false,
          customClass: 'sa-rapaq',
          padding: 40,
          customClass: 'sa-rapaq no-btn',
          timer: 1000,
        }).catch(swal.noop);
        obj.addClass('create_collect').removeClass('delete_collect');
        obj.toggleClass('is--active');

        if (data.type == 2) {
          var update_obj = obj.parents('.blogBox__topic').siblings('.blogBox__info').children('.freq').children('[data-id="cnt"]');
          var num = +update_obj.html() - 1;
          update_obj.html(num);
        } else if (data.type == 3) {
          var update_obj = obj.parent().siblings('.activityBox__bottom').children('.follow').children('.follow__amount').children('[data-id="cnt"]');
          var num = +update_obj.html() - 1;
          update_obj.html(num);
          var imgs = obj.parent().siblings('.activityBox__bottom').children('.follow').children('.follow__image').children('li').children('img');
          new_collector = '<li><img src="" alt=""></li>';
          $(imgs).each(function(index) {
            if ($(this).attr('src') == '')
              $(this).parent('li').remove();
          });
        }
        submitting = false;
      } else {
        swal({
          title: "取消收藏失敗",
          text: "請稍後再試一次！",
          confirmButtonText: "確定",
          confirmButtonClass: 'sa-rapaq-confirm confirm--red',
          customClass: 'sa-rapaq single-btn'
        }).then(
          function(result) {
            window.location.reload();
          }
        );
      }
    }
  });
});

</script>

<footer class="footer">
  <div class="footer-trigger">
    <ul class="footer-trigger__icon">
      <li class="trigger-top"></li>
      <li class="trigger-middle"></li>
      <li class="trigger-bottom"></li>
    </ul>
  </div>
  <div class="footer-line"></div>
  <div class="footer-load loadbg--1">
    <div class="footer-content">
      <div class="footer-content-platform">
        <div class="platform__logo">
        </div>
        <ul class="platform-menu">
          <li><a href="https://qshare.rapaq.com/index">首頁</a></li>
          <li><a href="https://qshare.rapaq.com/works/index">作品</a></li>
          <li><a href="https://qshare.rapaq.com/blog/index">文章</a></li>
          <li><a href="https://qshare.rapaq.com/event/index">活動</a></li>
          <li class="platform-menu__creat mc">創建</li>
        </ul>
      </div>
      <div class="footer-content-common">
        <ul class="common-company">
          <li><a href="http://rapaq.com/" target="_blank">關於RAPAQ</a></li>
          <li><a href="https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=503a426b34363e6730323a63383e3619729292929415c366785j48&jobsource=checkc" target="_blank">人才招募</a></li>
          <li><a href="https://oauth.rapaq.com/privacy.html" target="_blank">隱私政策</a></li>
          <li><a href="https://oauth.rapaq.com/terms.html" target="_blank">使用條款</a></li>
          <li><a href="mailto:service@rapaq.com">聯絡我們</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-cy">
    <ul class="footer-cy-content">
      <li>© 2017 RAPAQ All Rights Reserved 版權所有</li>
    </ul>
  </div>
</footer>

