.nav-content-toggle .toggle__search, .nav-content-toggle .toggle-menu {
    display: none;
  }
  
  @media only screen and (max-width: 960px) {
    .nav-content-toggle .toggle__search, .nav-content-toggle .toggle-menu {
      display: block;
      border-bottom: 1px solid #d8d8d8;
      width: 100%;
    }
  }
  
  .nav-content, .nav-content-mainbar .mainbar-aside-member, .nav-content-mainbar .mainbar-aside-member .member__msg, .nav-index--click .nav-content, .nav-index--click .nav-content-mainbar .mainbar-aside > div {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .nav {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    font-family: "Prompt", arial, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, PMingLiU, \65B0\7D30\660E\9AD4, sans-serif;
    color: #2e2e2e;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    -moz-transition: opacity 0.5s, -moz-transform 0.5s;
    -o-transition: opacity 0.5s, -o-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  
  .nav a {
    color: #2e2e2e;
  }
  
  .nav-load {
    width: 100%;
    display: block;
  }
  
  .nav-content {
    width: 100%;
    height: 59px;
    background-color: #fff;
  }
  
  .nav-content-mainbar {
    text-align: center;
    position: relative;
  }
  
  .nav-content-mainbar .mainbar__logo {
    width: 100%;
    height: 59px;
    position: absolute;
    border-bottom: 1px solid #d8d8d8;
  }
  
  .nav-content-mainbar .mainbar__logo__logo {
    width: 141px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../static/img/maker/icons/nav-logo-b.png") 0% 50% no-repeat;
    background-size: 100% auto;
    width: 141px;
    height: 60px;
    display: block;
    z-index: 9;
  }
  
  @media only screen and (max-width: 414px) {
    .nav-content-mainbar .mainbar__logo__logo {
      width: 50%;
      height: 60px;
      display: block;
      width: 50%;
      background: url("../../static/img/maker/icons/nav-logo-b.svg") 50% 50% no-repeat;
      margin-top: 0px;
    }
  }
  
  .nav-content-mainbar .mainbar-aside {
    position: absolute;
    width: 100%;
  }
  
  .nav-content-mainbar .mainbar-aside > div {
    height: 59x;
    float: left;
    cursor: default;
  }
  
  .nav-content-mainbar .mainbar-aside__click {
    width: 60px;
    height: 60px;
    z-index: 10;
    border-right: 1px solid #d8d8d8;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .nav-content-mainbar .mainbar-aside__click .click-close {
    display: none;
  }
  
  .nav-content-mainbar .mainbar-aside__click .click-close > span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #2e2e2e;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  
  .nav-content-mainbar .mainbar-aside__click .click-close__left {
    -webkit-transform: translateY(10px) rotate(-45deg);
    -ms-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  
  .nav-content-mainbar .mainbar-aside__click .click-close__right {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  
  .nav-content-mainbar .mainbar-aside__click .click-menubtn {
    width: 20px;
    height: 20px;
    background: url("../../static/img/maker/icons/nav-three-b.svg") no-repeat;
    margin-left: -2px;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-mainbar .mainbar-aside__click {
      width: 60px;
      padding: 20px 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .nav-content-mainbar .mainbar-aside__click .click-close > span {
      width: 13px;
    }
  }
  
  .nav-content-mainbar .mainbar-aside-menu div {
    float: left;
    font-weight: bold;
    line-height: 60px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #d8d8d8;
  }
  
  @media only screen and (max-width: 960px) {
    .nav-content-mainbar .mainbar-aside-menu {
      display: none;
    }
  }
  
  .nav-content-mainbar .mainbar-aside-search {
    /*display: none;*/
    position: absolute;
    right: 60px;
    min-width: 60px;
    width: 220px;
    height: 59px;
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text] {
    width: 60px;
    height: 59px;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-left: 1px solid #d8d8d8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    color: transparent;
    background-color: transparent;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text] + button {
    border: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent url("../../static/img/maker/icons/nav-search-b.svg") right center no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    cursor: pointer;
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text].is--focus {
    background-color: #f8f8f8;
    width: 200px;
    height: 30px;
    padding: 5px 34px 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 15px;
    right: 10px;
    color: #2e2e2e;
    border: 1px solid #d8d8d8;
    cursor: text;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text].is--focus + button {
    right: 15px;
    pointer-events: auto !important;
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text].is--focus::-webkit-input-placeholder {
    color: #999;
  }
  
  .nav-content-mainbar .mainbar-aside-search input[type=text].is--focus::-moz-placeholder {
    color: #999;
  }
  
  @media only screen and (max-width: 960px) {
    .nav-content-mainbar .mainbar-aside-search {
      display: none;
    }
  }
  
  .nav-content-mainbar .mainbar-aside-search ::-webkit-input-placeholder {
    color: transparent;
  }
  
  .nav-content-mainbar .mainbar-aside-search ::-moz-placeholder {
    color: transparent;
  }
  
  .nav-content-mainbar .mainbar-aside .is--width {
    width: 220px;
  }
  
  .nav-content-mainbar .mainbar-aside-login {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-left: 1px solid #d8d8d8;
    background: url("../../static/img/maker/icons/nav-member-b.svg") 50% 50% no-repeat;
  }
  
  .nav-content-mainbar .mainbar-aside-member {
    position: absolute;
    right: 0;
    width: 60px;
    border-left: 1px solid #d8d8d8;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .nav-content-mainbar .mainbar-aside-member .member__face {
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .nav-content-mainbar .mainbar-aside-member .member__face img {
    max-width: 100%;
    height: auto;
  }
  
  .nav-content-mainbar .mainbar-aside-member .member__msg {
    top: 10px;
    right: 5px;
  }
  
  .nav-content-mainbar .mainbar-aside:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .nav-content-toggle {
    position: relative;
    top: 60px;
    padding: 40px 5.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 960px) {
    .nav-content-toggle {
      padding: 40px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-toggle {
      padding: 20px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .nav-content-toggle {
      padding: 20px 14px;
    }
  }
  
  .nav-content-toggle .toggle__search {
    display: none;
    padding-bottom: 40px;
  }
  
  .nav-content-toggle .toggle__search input[type=text] {
    width: 100%;
    background-color: #f8f8f8;
    border: 0;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 40px;
  }
  
  .nav-content-toggle .toggle__search input[type=text] + button {
    border: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../static/img/maker/icons/nav-search-b.svg") right center no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .nav-content-toggle .toggle__search input[type=text] + button a {
    width: 20px;
    height: 20px;
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-toggle .toggle__search {
      padding-bottom: 20px;
    }
  }
  
  .nav-content-toggle .toggle-menu {
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 40px;
  }
  
  .nav-content-toggle .toggle-menu > div:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .nav-content-toggle .toggle-menu > div {
    background: url("../../static/img/maker/icons/nav-circle-arrow.svg") 100% 50% no-repeat;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-toggle .toggle-menu {
      padding: 0px 0 20px;
    }
    .nav-content-toggle .toggle-menu a {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  
  .nav-content-toggle .toggle-webs li {
    width: 18.88889%;
    height: 120px;
    float: left;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-right: 1.38889%;
    background-color: #ddd;
    cursor: default;
    overflow: hidden;
  }
  
  .nav-content-toggle .toggle-webs li:last-child {
    margin-right: 0px;
  }
  
  .nav-content-toggle .toggle-webs li .webs__bg {
    width: 100%;
    height: 120px;
    position: relativet;
    margin-top: -120px;
    z-index: 5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
  }
  
  .nav-content-toggle .toggle-webs li .webs__bg::after {
    width: 100%;
    height: 120px;
    position: absolute;
    display: table;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .nav-content-toggle .toggle-webs li > div {
    width: 100%;
    height: 120px;
  }
  
  .nav-content-toggle .toggle-webs li div:first-child {
    position: relative;
    z-index: 6;
    text-align: center;
  }
  
  
  .nav-content-toggle .toggle-webs:after {
    clear: both;
    content: "";
    display: table;
  }
  
  @media only screen and (max-width: 1280px) and (min-width: 961px) {
    .nav-content-toggle .toggle-webs li {
      font-size: 20px !important;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .nav-content-toggle .toggle-webs {
      padding-top: 40px;
    }
    .nav-content-toggle .toggle-webs li div span {
      display: block;
      line-height: 1.5;
    }
    .nav-content-toggle .toggle-webs li div span:nth-child(2) {
      display: none;
    }
    .nav-content-toggle .toggle-webs .toggle-webs__2 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__3 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__4 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__5 div:first-child {
      top: 25px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-toggle .toggle-webs {
      padding-top: 20px;
    }
    .nav-content-toggle .toggle-webs li {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
    .nav-content-toggle .toggle-webs li:last-child {
      margin-bottom: 0px;
    }
    .nav-content-toggle .toggle-webs li div span {
      display: inline;
    }
    .nav-content-toggle .toggle-webs li div span:nth-child(2) {
      display: inline;
    }
    .nav-content-toggle .toggle-webs .toggle-webs__2 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__3 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__4 div:first-child, .nav-content-toggle .toggle-webs .toggle-webs__5 div:first-child {
      top: 0px;
    }
  }
  
  .nav-content-mtoggle {
    position: absolute;
    right: 0;
    top: 60px;
    width: 180px;
    background-color: #fff;
    z-index: 10;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .nav-content-mtoggle li {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2e2e2e;
  }
  
  .nav-content-mtoggle li:last-child {
    border-bottom: 0;
  }
  
  .nav-content-mtoggle li a {
    color: #2e2e2e;
    width: 100%;
    height: auto;
    display: block;
  }
  
  .nav-content-mtoggle li .mtoggle__msg {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    top: 12px;
    right: 34px;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-content-mtoggle {
      width: 220px;
    }
    .nav-content-mtoggle li {
      padding: 20px 0px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .nav-content-mtoggle li .mtoggle__msg {
      top: 22px;
      right: 54px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .nav-content-mtoggle {
      width: 100%;
      padding: 0 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .nav-content-mtoggle li {
      text-align: left;
    }
    .nav-content-mtoggle li .mtoggle__msg {
      left: 81px;
      right: auto;
    }
  }
  
  .msg-alert {
    min-width: 22px;
    height: 18px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    background-color: #ff3244;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    border: 1px solid #fff;
    line-height: 18px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .is--click {
    border-bottom: 1px  solid #fff;
    height: 61px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .is--click .click-close {
    display: block !important;
  }
  
  .is--click .click-menubtn {
    display: none;
  }
  
  .is--mclick {
    border-bottom: 1px  solid #fff;
    height: 60px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .nav-index--click .nav-content {
    color: #fff;
    background-color: transparent;
    height: 85px;
    padding-top: 12px;
    border-sizing: border-box;
  }
  
  .nav-index--click .nav-content a {
    color: #fff;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar__logo {
    border-bottom: 0;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar__logo__logo {
    background: url("../../static/img/maker/icons/nav-logo-w.png") 0% 13px no-repeat;
    background-size: 100% auto;
    height: 85px;
  }
  
  @media only screen and (max-width: 414px) {
    .nav-index--click .nav-content-mainbar .mainbar__logo__logo {
      background: url("../../static/img/maker/icons/nav-logo-w.svg") 50% 13px no-repeat;
    }
  }
  
  .nav-index--click .nav-content-mainbar .click-menubtn {
    background: url("../../static/img/maker/icons/nav-three-w.svg") no-repeat;
  }
  
  .nav-index--click .nav-content-mainbar .click-close span {
    background-color: #fff;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside__click, .nav-index--click .nav-content-mainbar .mainbar-aside-menu div {
    border-right: 0;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside__click {
    width: 70px;
    padding-left: 30px;
    height: 61px;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search {
    right: 70px;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search input[type=text] {
    border-left: 0;
    color: transparent !important;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search input[type=text] + button {
    right: 20px;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search input[type=text].is--focus + button {
    right: 15px;
    background: transparent url("../../static/img/maker/icons/nav-search-b.svg") center center no-repeat;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-login {
    border-left: 0;
    width: 70px;
    padding-right: 20px;
    background: url("../../static/img/maker/icons/nav-member-w.svg") 50% 50% no-repeat;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-member {
    width: 70px;
    padding-right: 20px;
    border-left: 0;
    height: 61px;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-member .member__msg {
    right: 15px;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search input[type=text] + button {
    background: transparent url("../../static/img/maker/icons/nav-search-w.svg") right center no-repeat;
  }
  
  .nav-index--click .nav-content-mainbar .mainbar-aside-search input[type=text]:focus {
    background: transparent;
    color: #ddd;
  }
  
  .nav-index--click .nav-content .nav-content-toggle, .nav-index--click .nav-content .nav-content-mtoggle {
    color: #2e2e2e;
  }
  
  .nav-index--click .nav-content .nav-content-toggle a, .nav-index--click .nav-content .nav-content-mtoggle a {
    color: #2e2e2e;
  }
  
  .nav.is-hide {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
  
  .nav.is-active {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .footer {
    position: relative;
    z-index: 3;
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .footer {
      margin-top: -27px;
    }
  }
  
  .footer-trigger {
    width: 50px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    border-radius: 50px 50px 0 0;
    background-color: #5a11bd;
    display: none;
  }
  
  .footer-trigger__icon {
    width: 18px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 9px;
  }
  
  .footer-trigger__icon li {
    width: 18px;
    height: 2px;
    background-color: #fff;
    margin-top: 3px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .footer-trigger .is--active .trigger-top {
    background-color: #2e2e2e;
    -webkit-transform: translateY(7px) rotate(-45deg);
    -ms-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
  }
  
  .footer-trigger .is--active .trigger-middle {
    opacity: 0;
  }
  
  .footer-trigger .is--active .trigger-bottom {
    background-color: #2e2e2e;
    -webkit-transform: translateY(-4px) rotate(45deg);
    -ms-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }
  
  @media only screen and (max-width: 768px) {
    .footer-trigger {
      display: block;
    }
  }
  
  .footer-line {
    width: 100%;
    height: 10px;
    background-color: #5a11bd;
    margin: -1px 0;
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-line {
      display: block;
    }
  }
  
  .footer-content {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .footer-content-platform {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    color: #2e2e2e;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 22px;
  }
  
  .footer-content-platform .platform__logo {
    width: 178px;
    height: 57px;
    margin: 0 auto;
    position: relative;
    font-family: 'Prompt', sans-serif;
    background: url("../../static/img/maker/icons/footer-logo.png") 0 0 no-repeat;
    background-size: 100% auto;
  }
  
  .footer-content-platform .platform-menu {
    margin-top: 20px;
  }
  
  .footer-content-platform .platform-menu li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .footer-content-platform .platform-menu li a {
    color: #2e2e2e;
  }
  
  .footer-content-common {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 20px 0 0px;
    font-family: "Prompt", arial, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, PMingLiU, \65B0\7D30\660E\9AD4, sans-serif;
  }
  
  .footer-content-common .common-webs {
    font-size: 12px;
    color: #fff;
  }
  
  .footer-content-common .common-webs li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .footer-content-common .common-webs li:last-child {
    margin-right: 0;
  }
  
  @media only screen and (max-width: 414px) {
    .footer-content-common .common-webs li {
      display: block;
      margin-right: 0;
    }
  }
  
  .footer-content-common .common-company {
    font-size: 12px;
    color: #666;
    text-align: center;
  }
  
  .footer-content-common .common-company li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .footer-content-common .common-company li:last-child {
    margin-right: 0;
  }
  
  @media only screen and (max-width: 414px) {
    .footer-content-common .common-company li {
      display: block;
      margin-right: 0;
    }
  }
  
  .footer-content-common .common-company a {
    color: #666;
  }
  
  .footer-content-common .common-community {
    margin-top: -30px;
    float: right;
  }
  
  .footer-content-common .common-community li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .footer-content-common .common-community li:first-child {
    margin-left: 0;
  }
  
  .footer-content-common .common-community .communtity__fb,
  .footer-content-common .common-community .communtity__ig {
    width: 20px;
    height: 20px;
  }
  
  .footer-content-common .common-community .communtity__fb a,
  .footer-content-common .common-community .communtity__ig a {
    width: 20px;
    height: 20px;
    display: block;
  }
  
  .footer-content-common .common-community .communtity__as,
  .footer-content-common .common-community .communtity__gp {
    width: 60px;
    height: 20px;
  }
  
  .footer-content-common .common-community .communtity__as a,
  .footer-content-common .common-community .communtity__gp a {
    width: 60px;
    height: 20px;
    display: block;
  }
  
  .footer-content-common .common-community .communtity__fb {
    background: url("../../static/img/maker/icons/fb.svg") 0 0 no-repeat;
  }
  
  .footer-content-common .common-community .communtity__ig {
    background: url("../../static/img/maker/icons/ig.svg") 0 0 no-repeat;
  }
  
  .footer-content-common .common-community .communtity__as {
    background: url("../../static/img/maker/icons/applestore.svg") 0 0 no-repeat;
  }
  
  .footer-content-common .common-community .communtity__gp {
    background: url("../../static/img/maker/icons/googleplay.svg") 0 0 no-repeat;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-content-common {
      text-align: center;
      width: 100%;
      height: auto;
      margin: 0 auto;
      position: relative;
    }
    .footer-content-common .common-community {
      float: none;
      margin-top: 13px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .footer-content-platform {
      width: 94%;
      height: auto;
      margin: 0 auto;
      position: relative;
      font-size: 18px;
    }
    .footer-content-platform .platform-menu li {
      display: block;
      margin: 10px 0;
    }
    .footer-content-common {
      text-align: left;
    }
    .footer-content-common .common-webs, .footer-content-common .common-company, .footer-content-common .common-community {
      width: 94%;
      height: auto;
      margin: 0 auto;
      position: relative;
      font-size: 14px;
    }
    .footer-content-common .common-webs {
      letter-spacing: 2px;
    }
    .footer-content-common .common-company li {
      margin-bottom: 10px;
    }
    .footer-content-common .common-community {
      margin-top: 12px;
    }
  }
  
  .footer-load {
    width: 100%;
    display: block;
    padding: 40px 0;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-load {
      display: none;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .footer-load {
      padding: 20px 0;
    }
  }
  
  .footer .loadbg--1 {
    background-color: #fff;
  }
  
  .footer .loadbg--2 {
    background-color: #f8f8f8;
  }
  
  .footer-cy {
    padding: 15px 0;
    background-color: #5a11bd;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  
  .footer-cy:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .footer-cy li {
    display: inline-block;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-cy {
      padding: 10px 0;
      margin-top: 0px;
    }
    .footer-cy li {
      display: block;
    }
    .footer-cy li:nth-child(2) {
      display: none;
    }
  }
  
  .active--1 .footer-trigger, .active--1 .footer-line {
    background-color: #fff;
  }
  
  .active--2 .footer-trigger, .active--2 .footer-line {
    background-color: #f8f8f8;
  }
  
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    .footer--bottom {
      position: absolute;
      bottom: 0px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
  @media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
    .footer--bottom {
      position: absolute;
      bottom: 0px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  